<title>Users</title>

<h1>Picvote Users</h1>

<ul class="users">
  <% @users.each do |user| %>
  <li>
    <b>Name:</b> <%= user.name %>,
    <b>Created on:</b> <%= user.created_at.strftime("%a, %B, %d, %Y at %I:%M%p") %>
  </li>
  <% end %>
</ul>