<div class="img_box <%= voted_on?(post) %>" id="post_<%= post.id %>" >
  <%= image_tag "/assets/post_images/#{post.image_name}", class:"img_preview" %>
  <div class="total_votes">Post Score: <%= post.total_votes %></div>

  <%= button_to votes_path(vote: { post_id: post.id , upvote: true }), method: :post, remote: true, class: "vote_btn upvote #{voted_class(post, :upvote)}" do
  %>
  <i class="fa fa-arrow-up" aria-hidden="true" style="font-size:22px;"></i>
  <% end %>

  <%= button_to votes_path(vote: { post_id: post.id , upvote: false }), method: :post, remote: true, class: "vote_btn downvote #{voted_class(post, :downvote)}" do
  %>
  <i class="fa fa-arrow-down" aria-hidden="true" style="font-size:22px;"></i>
    
  <% end %>
</div>