@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/* ---- COLORS & MIXINS ----*/

$main-green: #23D399;
$darkened-green: #296E57;
$lightened-green: #94D4BF;

$light-gray: #979D9B;

$off-white: #B4B6B5;

/* ---- UNIVERSAL ---- */

body {
  background-color: #403D41;
  color: #fff;
}

h1 {
  text-align: center;
  font-size: 50px;
}

.head-box {
  background-color: $main-green;
  width: 100%;
}

.header {
  width: 75%;
  margin: 0px auto;
  padding: 15px;
  list-style-type: none;
  li {
    display: inline-block;
    padding: 0px 15px;
  }
}

.alert-danger {
  margin-top: 50px;
}

.box {
  width: 75%;
  margin: 0px auto;
  text-align: center;
}

/* ---- USER INDEX PAGE ---- */

.users {
  list-style: none;
  li {
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
    &:nth-child(odd) {
      background-color: #ddd;
      color: #403D41;
    }
  }
}

/* ---- USER SIGNUP FORM ---- */

input {
  color: #000;
}

 /* ---- IMAGE PAGE ---- */

.img_box {
  margin: 20px;
  padding: 15px;
  display: inline-block;
  border: 1px solid $light-gray;
  border-radius: 3px;
  text-align: center;

  &.voted_on {
    .vote_btn {
      background-color: $light-gray;
      &:hover {
        background-color: $lightened-green;
      }
    }
    .clicked_btn {
      background-color: $main-green;
      &:hover {
        background-color: $light-gray;
      }
    }
  }

  .img_preview {
    width: 300px;
    height: 250px;
    object-fit: cover;
    overflow: hidden;
    display: block;
  }

  .vote_btn {
    height: 30px;
    width: 50px;
    border-radius: 3px;
    margin: 10px 5px 0px;
    background-color: $main-green;
    border: none;
    float: right;
    &:hover {
      text-decoration: none;
      background-color: $darkened-green;
    }
  }

  .total_votes {
    font-size: 15px;
    color: $off-white;
    display: inline-block;
    float: left;
    padding: 10px 0px 0px 10px;
  }
}









