<% if @success %>
  <% if @vote.upvote %>
    update_vote('.upvote');
  <% else %>
    update_vote('.downvote');
  <% end %>
<% elsif @destroy %>
  update_vote(false)
<% else %>
  console.log("UH OH! Try again!")
<% end %>

function update_vote(btn_class) {
  post_id = '#post_' + <%= @post.id %>
  
    $( post_id + ' .vote_btn').removeClass('clicked_btn');
    $( post_id + '.img_box').removeClass('voted_on');
    $( post_id + ' .total_votes').html('New Score: ' + <%= @post.total_votes %>)

    if (btn_class != false) {
      $( post_id + '.img_box').addClass('voted_on')
      $( post_id + ' ' + btn_class).addClass('clicked_btn');
    }
}