<div class="head-box">
  <ul class="header">
    <li><%= link_to "Images", root_path, {style: 'color:#fff;'} %></li>
    <li><%= link_to "Users",  users_path, {style: 'color:#fff;'} %></li>
    <% if user_signed_in? %>
      <li><%= link_to "Logout", destroy_user_session_path, {method: :delete, style: 'color:#fff;'} %></li>
    <% else %>
      <li><%= link_to "Login", new_user_session_path, {style: 'color:#fff;'} %></li>
      <li><%= link_to "Sign Up", new_user_registration_path, {style: 'color:#fff;'} %></li>
    <% end %>
  </ul>
</div>